@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=JetBrains+Mono:wght@400;700&family=Orbitron:wght@400;700;900&display=swap');

@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #050505;
  /* Fallback */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
  }

  .box-glow {
    box-shadow: 0 0 15px rgba(0, 243, 255, 0.3);
  }

  .border-glow {
    box-shadow: inset 0 0 10px rgba(0, 243, 255, 0.2);
  }

  .danger-text-glow {
    text-shadow: 0 0 10px rgba(255, 0, 60, 0.7);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}